@model CookiesSalesSystem.Models.AiBom

@{
    ViewBag.Title = "Ai Details";
    Layout = "_EquipmentLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BOM</h4>
    <hr />
    <table class="table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MachineID)</th>
                <th>@Html.DisplayNameFor(model => model.AlgorithmName)</th>
                <th>@Html.DisplayNameFor(model => model.HyperparameterName)</th>
                <th>@Html.DisplayNameFor(model => model.CrossName)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.MachineID)</td>
                <td>@Html.DisplayFor(model => model.AlgorithmName)</td>
                <td>@Html.DisplayFor(model => model.HyperparameterName)</td>
                <td>@Html.DisplayFor(model => model.CrossName)</td>
            </tr>
        </tbody>
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@* CreateID, CreatDate, ModifyDate, ModifyEmployeeID,
 MachineID, MachineClass, MachineName, SupervisorID, EmployeeName, DepartmentName, AddTime,
WifiSSID, WifiPassword, IpAddress, SubnetMask, Gateway, Dns,
Open_, Speed, Optimization,
AlgorithmName, HyperparameterName, CrossName *@