@model IEnumerable<CookiesSalesSystem.Models.AiBom>

@{
    Layout = "_EquipmentLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>設備管理</h2>

<p>
    @Html.ActionLink("新增機器設定", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.CreateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WifiSSID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Open_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Optimization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlgorithmName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WifiSSID)
            <td>
                    @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Open_)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Optimization)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AlgorithmName)
            </td>
            
            <td style="display:flex; gap:10px;">
                @Html.ActionLink("詳細", "OverviewDetails", new { id = item.ID })
            </td>
        </tr>
    }

</table>

