﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
    <title>@ViewData["Title"] - SituationRoom</title>
    <link rel="stylesheet" href="~/css/situationroom.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/ChartMvc.styles.css" asp-append-version="true" /> *@
</head>
<body>
    
    <div class="container">
        <div class="jumbotron">
            <h2>目前運作狀態總覽</h2>
        </div>
        @RenderBody()
    </div>

    
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>